{% extends "base/base_main.html" %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'axf/mine/css/mine.css' %}">
{% endblock %}

{% block content %}
    <div id="mine">

{#    未登录的状态下显示#}
        <div class="fixed">

            {% if is_login %}
{#                登录状态下的头像和名字#}
                <span>
                    <img src="{{ icon }}" alt="">
                </span>
                <p>{{ u_name }}</p>
                {% else %}
{#               未登录状态下的头像和名字#}
                    <span class="glyphicon glyphicon-user"></span>
                    <p class="not_login">
                        <a href="{% url 'myaxf:login' %}">未登录</a>
                    </p>
            {% endif %}


            <p class="level">
                <span class="glyphicon glyphicon-fire"></span>
                <span>等级</span>
            </p>
            <p class="collect">
                <span class="glyphicon glyphicon-heart"></span>
                <sapn>收藏</sapn>
            </p>
        </div>
{#只有在未登录的状态下显示,注册#}
        {% if not is_login %}
            <div id="regis">
                <a href="{% url 'myaxf:register' %}">注册</a>
            </div>
        {% endif %}

        <div class="mine_info">
            <p>
                我的订单
                <a href="">查看全部&gt;&gt;</a>
            </p>

            <div id="nav">
                <ul>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-usd"></span>
                            </dt>
                            <dd>未付款</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-envelope"></span>
                            </dt>
                            <dd>待收货</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-pencil"></span>
                            </dt>
                            <dd>待评价</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-retweet"></span>
                            </dt>
                            <dd>退款/售后</dd>
                        </dl>
                    </li>
                </ul>
            </div>

            <menu>
                <ul>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-bullhorn"></span>
                            </dt>
                            <dd>积分商城</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-credit-card"></span>
                            </dt>
                            <dd>优惠券</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-import"></span>
                            </dt>
                            <dd>收货地址</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-phone-alt"></span>
                            </dt>
                            <dd>客户反馈</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-asterisk"></span>
                            </dt>
                            <dd>关于我们</dd>
                        </dl>
                    </li>
                </ul>
            </menu>


{#如果登录了才显示#}
            {% if is_login %}
                <p>
                    <a href="{% url 'myaxf:logout' %}">退出</a>
                </p>
            {% endif %}
        </div>


    </div>
{% endblock %}